/*
color hunt.co: http://colorhunt.co/c/71366
 dark red: #FF4545
 orange: #FF9867
 light orange: #FFBF87
 yellow: #FFEDB2

 http://colorhunt.co/c/78489
 blue: #18587A
 orange: #FC624D
 pink: #FCA7A7
 light pink: #FFD6D6

font: sintony and poppins from https://www.behance.net/gallery/35768979/Typography-Google-Fonts-Combinations
blue: #3490DE for read more links
white: #ffffff
black: #000000

http://www.99colors.net/name/burgundy
Triadic Colors
#800020 Burgundy
#208000 Green
#165A00 Dark Green
#3CA619  Lime Green
#002080 Dark Blue
#00165A navy
#193CA6 blue


google api key AIzaSyCs6rT_VVjyfX5dBnxWY5XXKQyb8LBXkvE
<iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1500827725695!6m8!1m7!1s1H78Wv1YJNdr2rPtgXsnvA!2m2!1d54.3439488311084!2d-7.635358064693378!3f310.243354077671!4f-9.52507538905617!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
*/

html {
  font-size: 16px;
}
/*body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Oswald", Helvetica, sans-serif;
}
body {
  background-color: #E3E2DF;
}
/*header */
header {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  background-color: #00165A;
  color: #FC624D;
}
header .nameAddress {
  display: inline-flex;
  align-items: center;
}

header .nameAddress h1#name {
  margin: 0 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
header .nameAddress h1#address {
  margin: 0 1rem;
  font-size: 1rem;
  line-height: 2rem;
}
header .officeDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
}
header #open_closed {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* email and phone links */
#phone, #email {
  display: none;
  padding: 1rem;
  border: 2px solid #FC624D;
  background-color: #800020;
  color: #fff;
}
.FileTabs {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
}
.FileTabs a {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  width: 7rem;
  border-top-left-radius:2em;
  border-top-right-radius:2em;
  color: #ffffff;
}
.FileTabs p {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto 0.1rem;
}

/* */
@keyframes slideDownFromTop {
  0% {
      transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/*main */
main {
    margin: 0 2rem;
    width: 95%;
    border-radius: 0.3rem;
    height: 100vh;
}





#HomeTab {

}

#HomeTab a{
  background-color: #FC624D;
  border: 2px solid #FC624D;
  margin-left: 1rem;
}


#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FC624D;
  border: 2px solid #FC624D;


}
.container {
  display: flex;
  justify-content: center;
}

.logoCard {
  border: 3px solid #00165A;
  height: 20.5rem;
  width: 44.5rem;
  background-image: url("../images/HassardMCCcard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}
