/*
color hunt.co: http://colorhunt.co/c/71366
 dark red: #FF4545
 orange: #FF9867
 light orange: #FFBF87
 yellow: #FFEDB2

 http://colorhunt.co/c/78489
 blue: #18587A
 orange: #FC624D
 pink: #FCA7A7
 light pink: #FFD6D6

font: sintony and poppins from https://www.behance.net/gallery/35768979/Typography-Google-Fonts-Combinations
blue: #3490DE for read more links
white: #ffffff
black: #000000

http://www.99colors.net/name/burgundy
Triadic Colors
#800020 Burgundy
#208000 Green
#165A00 Dark Green
#3CA619  Lime Green
#002080 Dark Blue
#00165A navy
#193CA6 blue


google api key AIzaSyCs6rT_VVjyfX5dBnxWY5XXKQyb8LBXkvE
<iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1500827725695!6m8!1m7!1s1H78Wv1YJNdr2rPtgXsnvA!2m2!1d54.3439488311084!2d-7.635358064693378!3f310.243354077671!4f-9.52507538905617!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
*/

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Oswald", Helvetica, sans-serif;
}
body {
  background-color: #E3E2DF;
}
/* */
@keyframes slideDownFromTop {
  0% {
      transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* */
#Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container {
  height: 100%;
  width: 100%;
}


/* */
.leftSquare, .rightSquare, .centerSquare {
  -webkit-animation:1s ease-out 1s 1 slideDownFromTop;
  animation: 1s ease-out 1s 1 slideDownFromTop;
}

/* home background*/
.leftSquare span#homeBackground {
  position: absolute;
  background-color: #800020;
  height: 25%;
  width: 30%;
  bottom: 0;
  left:0;
  z-index: -1;
}
.rightSquare span#homeBackground {
  background-color: #002080;
  position: absolute;
  height: 25%;
  width: 30%;
  top: 0;
  right: 0;
  z-index: 1;
}

/* home center */
.centerSquare span#homeBackground {
  background-color: #FFFFFF;
  border: 3px solid #800020;
  position: absolute;
  height: 75%;
  width: 80%;
  top: 12.5%;
  left: 10%;
  z-index: 1;
}



.centerSquare {

}
.centerSquare img {
  max-height: 50rem;
}
.logoCard {
  border: 3px solid #00165A;
  height: 20.5rem;
  width: 44.5rem;
  background-image: url("../images/HassardMCCcard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
